<div class="row header gap">
  <div class="offset-by-one eight columns">
    <h2>Table <%= @party.cover.number %></h2>
  </div>
  <div class="offset-by-one two columns">
    <%= link_to "Back", employees_path(current_employee) %>
  </div>
</div>

<% if current_employee.rights_class == 1 || current_employee.rights_class == 2 %>

  <div class="row">
    <div class="offset-by-one five columns">
      <h3>Order</h3>
      <%= form_for @party, url: employee_party_path(current_employee,@party) do |f| %>

        <%= f.collection_check_boxes :entree_ids, Entree.all, :id, :item, {}, {multiple: true} do |b| %>
          <%= b.check_box(class: "check_box") %>
          <%= b.label(class: "label") %>
        <% end %>
        <%= f.label "Notes" %>
        <%= f.text_field :name %><br />
        <%= f.submit %>
      <% end %>
    </div>
    <div class="five columns">
      <h3>Check</h3>
      <div class="right">
        Guests: <%= @party.guests %> / Table: <%= @party.cover.number %>
      </div>
      <table class="u-full-width">
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Item</td>
          <td class="right">Cost</td>
        </tr>
        <% @party.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.entree.item %></td>
            <td class="right"><span id="usd" class="toggle"><%= line_item.entree.price.in(:usd) %></span><span id="eur" class="toggle"><%= line_item.entree.price.in(:usd).to(:eur) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="right">
        Subtotal: <span id="usd" class="toggle"><%= @check %></span><span id="eur" class="toggle"><%= @check_euro %></span><br />
        Tax: <span id="usd" class="toggle"><%= @tax %></span><span id="eur" class="toggle"><%= @tax_euro %></span><br />
        Total: <span id="usd" class="toggle"><%= @total %></span><span id="eur" class="toggle"><%= @total_euro %></span><br />
        Suggested Tip<br />
        15%: <span id="usd" class="toggle"><%= @tip_fine %></span><span id="eur" class="toggle"><%= @tip_fine_euro %></span>
        20%: <span id="usd" class="toggle"><%= @tip_good %></span><span id="eur" class="toggle"><%= @tip_good_euro %></span>
        25%: <span id="usd" class="toggle"><%= @tip_great %></span><span id="eur" class="toggle"><%= @tip_great_euro %></span>
        <%= form_for @party, url: employee_party_path(current_employee,@party) do |f| %>
          <%= f.select :paid, [['Paid', 1], ['Unpaid', 0]] %><br />
          <%= f.submit %>
        <% end %>
        <button id="toggle">Convert EUR</button>
      </div>
    </div>
    <div class="one column">

    </div>
  </div>

<% end %>
