<div class="row">
  <h2>Table <%= @party.cover.number %></h2> <%= link_to "Back", employees_path(current_employee) %>

</div>
<% if current_employee.rights_class == 1 %>

  <div class="row">
    <div class="one-half column">
      <h3>Order</h3>
      <%= form_for @party, url: employee_party_path(current_employee,@party) do |f| %>

        <%= f.collection_check_boxes :entree_ids, Entree.all, :id, :item, {}, {multiple: true} do |b| %>
          <%= b.check_box(class: "check_box") %>
          <%= b.label(class: "label") %>
        <% end %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="one-half column">
      <h3>Check</h3>
      Guests: <%= @party.guests %>
      <span class="right">Table: <%= @party.cover.number %><br /></span>
      <table class="u-full-width">
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <% @party.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.entree.item %></td>
            <td class="right">$<%= line_item.entree.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="right">
      Subtotal: $<%= number_with_precision(@check, precision:2) %><br />
      Tax: $<%= number_with_precision(@tax, precision:2) %><br />
      Total: $<%= number_with_precision(@total, precision:2) %><br />
      Suggested Tip<br />
      15%: $<%= number_with_precision(@tip_fine, precision:2) %>
      20%: $<%= number_with_precision(@tip_good, precision:2) %>
      25%: $<%= number_with_precision(@tip_great, precision:2) %>
      <%= form_for @party, url: employee_party_path(current_employee,@party) do |f| %>
        <%= f.select :paid, [['Paid', 1], ['Unpaid', 0]] %><br /><br />
        <%= f.submit %>
      <% end %>
    </div>



    </div>
  </div>

<% end %>

<% if current_employee.rights_class == 3 %>
  <% @party.line_items.each do |line_item| %>
    <%= line_item.entree.item %>,
    <%= line_item.party.cover.number %>
      <%= form_for line_item do |f| %>
        <%= f.select :fired, [['Fired', 1], ['Unfired', 0]] %>
        <%= f.submit %>
      <% end %>
  <% end %>

<% end %>
