<div class="row header gap">
  <div class="offset-by-one eight columns">
    <h2>Table <%= @party.cover.number %></h2>
  </div>
  <div class="offset-by-one two columns">
    <%= link_to "Back", employees_path(current_employee) %>
  </div>
</div>

<% if current_employee.rights_class == 1 || current_employee.rights_class == 2 %>

  <div class="row">
    <div class="offset-by-one five columns">
      <h3>Order</h3>
      <%= form_for @party, url: employee_party_path(current_employee,@party) do |f| %>

        <%= f.collection_check_boxes :entree_ids, Entree.all, :id, :item, {}, {multiple: true} do |b| %>
          <%= b.check_box(class: "check_box") %>
          <%= b.label(class: "label") %>
        <% end %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="five columns">
      <h3>Check</h3>
      <div class="right">
        Guests: <%= @party.guests %> / Table: <%= @party.cover.number %>
      </div>
      <table class="u-full-width">
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Item</td>
          <td class="right">Cost</td>
        </tr>
        <% @party.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.entree.item %></td>
            <td class="right">$<%= line_item.entree.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="right">
        Subtotal: $<%= number_with_precision(@check, precision:2) %><br />
        Tax: $<%= number_with_precision(@tax, precision:2) %><br />
        Total: $<%= number_with_precision(@total, precision:2) %><br />
        Suggested Tip<br />
        15%: $<%= number_with_precision(@tip_fine, precision:2) %>
        20%: $<%= number_with_precision(@tip_good, precision:2) %>
        25%: $<%= number_with_precision(@tip_great, precision:2) %>
        <%= form_for @party, url: employee_party_path(current_employee,@party) do |f| %>
          <%= f.select :paid, [['Paid', 1], ['Unpaid', 0]] %><br />
          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div class="one column">

    </div>
  </div>

<% end %>
