<div class="row">
  <h3>Welcome back, <% if current_employee.username == "admin" %>Manager<% else %><%= current_employee.username %><% end %>!</h3>

  <%= button_to "Log Out", sessions_path, method: :delete %>
</div>


<% if current_employee.rights_class == 2 %>
<div class="row">
  <div class="one-third column">
    <%= form_for @employee do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :cell %>
      <%= f.text_field :cell %>
      <%= f.select :rights_class, [['Server', 2], ['Cook', 3], ['Manager', 1]] %><br />
      <%= f.submit  %>
    <% end %>

    <% @employees.each do |employee| %>
          <%= employee.username %>,
          <%= employee.email %>,
          <%= employee.cell %>,
          <%= employee.rights_class %>
          <%= link_to "Edit", edit_employee_path(employee) %>
          <%= button_to "x", employee_path(employee), method: :delete %><br />
    <% end %>
  </div>


  <div class="one-third column">
  <%= form_for @entree do |f| %>
    <%= f.label :item %>
    <%= f.text_field :item %>
    <%= f.select :category, ['Appetizer', 'Pasta', 'Fish', 'Grill', 'Healthy', 'Dessert'] %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.select :allergen, ['Nuts', 'Dairy', 'Soy', 'Shellfish', 'Multiple'], include_blank: true %>
    <%= f.submit  %>
  <% end %>

  <% @entrees.each do |entree| %>
        <%= entree.item %>,
        <%= entree.category %>,
        <%= entree.price %>,
        <%= entree.allergen %>
        <%= link_to "Edit", edit_entree_path(entree) %>
        <%= button_to "x", entree_path(entree), method: :delete %><br />
  <% end %>
</div>

<div class="one-third column">

  <%= form_for @cover do |f| %>
    <%= f.label :number %>
    <%= f.text_field :number %>
    <%= f.label :seats %>
    <%= f.number_field :seats %>
    <%= f.submit  %>
  <% end %>

  <% @covers.each do |cover| %>
        <%= cover.number %>,
        <%= cover.seats %>
        <%= link_to "Edit", edit_cover_path(cover) %>
        <%= button_to "x", cover_path(cover), method: :delete %><br />
  <% end %>
</div>
</div>
<div class="row">

  <%= form_for @party do |f| %>
    <%= f.label :guests %>
    <%= f.number_field :guests %>
    <%= f.collection_select :employee_id, Employee.all, :id, :username, include_blank: true %>
    <%= f.collection_select :cover_id, Cover.all, :id, :number, include_blank: true %>
    <%= f.submit %>
  <% end %>

  <% @parties.each do |party| %>
        <%= party.guests %>,
        <%= party.employee.username %>,
        <%= party.cover.number %>
        <%= link_to "Edit", edit_party_path(party) %>
        <%= button_to "x", party_path(party), method: :delete %><br />
  <% end %>

  <% @line_items.each do |line_item| %>
    <% if line_item.party.paid != 1 %>
      <%= line_item.entree.item %>
      <%= line_item.party.cover.number %>
      <%= line_item.party.paid %>
    <% end %>
    <%= link_to "Edit", edit_party_path(line_item.party) %> <br />
    <%= button_to "x", line_item_path(line_item), method: :delete %><br />

  <% end %>
</div>

<% end %>

<% if current_employee.rights_class == 1 %>

  <%= form_for @party, url: employee_parties_path(current_employee) do |f| %>
    <%= f.label :guests %>
    <%= f.number_field :guests %>
    <%= f.collection_select :cover_id, Cover.all, :id, :number, include_blank: true %>
    <%= f.submit %>
  <% end %>

  <% current_employee.parties.each do |party| %>
  <div class="row <% if party.paid == 1 %>
    green
  <% end %>">
      <%= party.guests %>,
      <%= party.employee.username %>,
      <%= party.cover.number %>,
      <% party.line_items.each do |line_item| %>
            <%= line_item.entree.item %>,
            $<%= line_item.entree.price %>
            <%= line_item.party.cover.number %>
            <%= line_item.party.paid %>
      <% end %>
    <% if party.paid == 1 %>
      Paid
    <% end %>
    <%= link_to "Edit", edit_employee_party_path(current_employee, party) %>
  </div>
  <% end %>
<% end %>

<% if current_employee.rights_class == 3 %>

  <% @line_items.each do |line_item| %>
    <div class="row <% if Time.now > line_item.created_at + 15.minutes %>
      red
    <% elsif Time.now > line_item.created_at + 10.minutes %>
      orange
    <% elsif Time.now > line_item.created_at + 5.minutes %>
      yellow
    <% end %>">
    <div class="seven columns">
      <% if line_item.fired != 1 %>
        <%= line_item.entree.item %> for table
        <%= line_item.party.cover.number %>, server
        <%= line_item.party.employee.username %><br />
        Time elapsed since order:
        <% if Time.now > line_item.created_at + 15.minutes %>
          Over 15 minutes
        <% elsif Time.now > line_item.created_at + 10.minutes %>
          Over 10 minutes
        <% elsif Time.now > line_item.created_at + 5.minutes %>
          Over 5 minutes
        <% else %>
        <%= time_ago_in_words(line_item.created_at) %>
        <% end %>
    </div>
    <div class="five columns">
      <%= form_for line_item do |f| %>
        <%= f.select :fired, [['Fired', 1], ['Unfired', 0]], include_blank: true %>
        <%= f.submit %>
      <% end %>
      <%= link_to "<button>Edit</button>".html_safe, edit_party_path(line_item.party) %> <br />
    <% end %>
    </div>

    </div>
  <% end %>

<% end %>
